#about {
    min-height: 100vh;
    background: $black;
    // background: repeating-linear-gradient(-45deg, $black, $black 2px, #f1f1f1 2px, #f1f1f1 4px);
    // background: linear-gradient($black);
    // background: url(../assets/dark-waves.svg);
    // background: $black;
    color: $white;
    h2 {
        color: $gold;
    }
}

.about-wrapper {
    // border: 2px solid red;
}

.about-flex {
    display: flex;
}

.about-main-img {
    width: 400px;
    background: -moz-repeating-linear-gradient(-45deg, $black, $black 2px, #f1f1f1 2px, #f1f1f1 4px);
    background: -webkit-repeating-linear-gradient(-45deg, $black, $black 2px, #f1f1f1 2px, #f1f1f1 4px);
     background: repeating-linear-gradient(-45deg, $black, $black 2px, #f1f1f1 2px, #f1f1f1 4px);
     padding: 10px;
    // height: 500px;
    // border: 2px solid red;
    // border: 10px solid red;
    overflow: hidden;
    border-radius: 5px;
    // border: 2px solid blue;
}
.about-main-description {
   width: 70%;
//    border: 2px solid green;
   padding: 0px;
   padding-left: 40px;
   display: flex;
   align-items: center;
}

.gallery-flex {
    margin-top: 40px;
    height: 200px;
    justify-content: space-between;
        // background: repeating-linear-gradient(-45deg, $black, $black 2px, #f1f1f1 2px, #f1f1f1 4px);
    // border: 2px solid red;
    display: flex;
}
.gallery-img:nth-child(4){
    margin-right: 0;
}

.gallery-img {
    width: calc(25% - 30px);
    min-height: 200px;
    overflow: hidden;
    margin-right: 30px;
    border-radius: 5px;
    // filter: grayscale(100%);
    img {
        // width: 100%;
        max-width: 100%;
        // max-height: 100%;
        height: auto;
    
    }
}

.purveyors {
    margin-top: 40px;
    text-align: center;
    h2 {
        font-style: italic;
        position: relative;
    }
    h2:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background: gold;
        bottom: -15px;
        left: calc(50% - 5px);
        transform: rotate(45deg);
        z-index: 1;
    }
    h2::after {
        position: absolute;
        content: "";
        background: $gold;
        width: 200px;;
        height: 2px;
        bottom: -11px;
        left: calc(50% - 100px);
    }
}

#follow {
    font-style: italic;
    text-decoration: underline;
    font-size: 0.8rem;
    opacity: 0.8;
}

.purveyors-list {
    margin-top: 30px;
    // display: flex;
    // flex-direction: column;
    // border: 2px solid red;
    li {
        //  position: relative;
        //  display: block;
        //  width: 300px;
        //  margin: 0 auto;
        //  border: 2px solid red;
    }
    // li::before {
    //      position: absolute;
    //     content: "";
    //     width: 7px;
    //     height: 7px;
    //     border-radius: 50%;
    //     background: $gold;
    //     left: -14px;
    //     top: 13px;
    // }
    // li::after {
    //       position: absolute;
    //     content: "";
    //     width: 7px;
    //     height: 7px;
    //     border-radius: 50%;
    //     background: $gold;
    //     right: -14px;
    //     top: 13px;
    // }
}

// .purveyors-flex {
//     width: 80%;
//     // border: 2px solid red;
//     margin: 0 auto;
//     padding-top: 20px;
//     // display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     ul {
//         position: relative;
//         display: block;
//         margin: 8px;
//     }
//     p::before {
//         position: absolute;
//         content: "";
//         width: 7px;
//         height: 7px;
//         border-radius: 50%;
//         background: $gold;
//         left: -14px;
//         top: 13px;
//     }
//      p::after {
//         position: absolute;
//         content: "";
//         width: 7px;
//         height: 7px;
//         border-radius: 50%;
//         background: $gold;
//         right: -14px;
//         top: 13px;
//     }
// }

// .meat {
//     width: 50%;
// }

// .fish {
//     text-align: right;
//     width: 50%;
// }
