#about {
    min-height: 100vh;
    background: $black;
    color: $white;
    h2 {
        color: $gold;
    }
}

.about-wrapper {
    // border: 2px solid red;
}

.about-flex {
    display: flex;
}

.about-main-img {
    width: 400px;
    // height: 500px;
    // border: 2px solid red;
    // border: 10px solid red;
    overflow: hidden;
    // border: 2px solid blue;
}
.about-main-description {
   width: 70%;
//    border: 2px solid green;
   padding: 0px;
   padding-left: 40px;
   display: flex;
   align-items: center;
}

.gallery-flex {
    margin-top: 40px;
    height: 200px;
    justify-content: space-between;
    // border: 2px solid red;
    display: flex;
}
.gallery-img:nth-child(4){
    margin-right: 0;
}

.gallery-img {
    width: calc(25% - 30px);
    min-height: 200px;
    overflow: hidden;
    margin-right: 30px;
    img {
        width: 100%;
        min-height: 100%;
        position: bottom;
    }
}

.purveyors {
    margin-top: 40px;
    text-align: center;
    h2 {
        text-decoration: underline;
    }
}


.purveyors-flex {
    width: 600px;
    // border: 2px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.meat {
    width: 50%;
}

.fish {
    text-align: right;
    width: 50%;
}
