#contact {
    // min-height: 80vh;
    // background: repeating-linear-gradient(-45deg, $black, $black 2px, #f1f1f1 2px, #f1f1f1 4px);
    // background-color: #1c1c1c;
    padding-top: 60px;
    background: $black;
    h2 {
        color: $gold;
    }
}

.contact-flex {
    display: flex;
    p {
        color: $white;
    }
}
.hours {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.day {

    margin-right: 40px;
}

.day-and-time {
    display: flex;
}

.contact-title {
    width: 100%;
}

.contact {
    width: 30%;
}

.fab {
    font-size: 1.5rem;
    color: $white;
    margin-top: 10px;
    transition: all 0.3s;
}

.fab:hover {
    color: $gold;
    // transform: scale(1.1);
}



.fab:nth-child(1){
    margin-right: 5px;
}

.map-container {
    width: 40%;
    background: repeating-linear-gradient(-45deg, $black, $black 2px, #f1f1f1 2px, #f1f1f1 4px);
    padding: 10px;
    // border-radius: 5px;
}

iframe {
    filter: grayscale(100%);
    width: 100%;
}

 @media (max-width: 1250px){
     .contact-flex {
         flex-wrap: wrap;
     }
     .hours, .contact {
         width: 50%;
     }
     .map-container {
         width: 100%;
     }
 }

  @media (max-width: #{$tablet}) {
        .contact-flex {
         flex-direction: column;
     }
     .hours, .contact, .map-container {
         width: 100%;
     }
         .contact {
         text-align: center;
     }
          .hours, .map-container {
       margin-top: 40px;
       h2 {
           text-align: center;
       }
     }
       .day-and-time {
         justify-content: center;
     }
  }

 @media (max-width: #{$mobile}) {
      .contact-flex {
         flex-direction: column;
     }
     .hours, .contact, .map-container {
         width: 100%;
     }
         .contact {
         text-align: center;
     }
          .hours, .map-container {
       margin-top: 40px;
     }
       .day-and-time {
         justify-content: center;
     }
 }