.header-nav-bar {
    background:$black;
    height: 50px;
    display: flex;
    position: relative;
}

.header-nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 60px;
    li {
        display: inline-block;
        margin-left: 30px;
        text-align: center;
        color: $white;;
        position: relative;
        cursor: pointer;
        &::after {
            position: absolute;
            content: "";
            height: 2px;
            width: 5%;
            bottom: -5px;
            left: 45%;
            transition: all 0.3s;
        }
    }
}

.header-nav li:hover{
    &::after {
        background: $gold;  
        left: 0;
        bottom: 0px;
        width: 100%;  
    }
}


// MEDIA QUERIES

 @media (max-width: #{$mobile}){
     #english-nav, #russian-nav {
         display: none;
    }
    .translate {
        // display: none;
    }
 }

