.header-nav-bar {
    background: linear-gradient(180deg, $black 53px, $white 53px);
    height: 55px;
    display: flex;
    // position: relative;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 4px 10px -4px rgba(65,64,66,0.4);
}

.header-nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 60px;
    li {
        display: inline-block;
        margin-left: 30px;
        text-align: center;
        color: $white;;
        position: relative;
        cursor: pointer;
        transition: all 0.3s;
        &::after {
            position: absolute;
            content: "";
            height: 2px;
            width: 5%;
            bottom: 0px;
            left: 45%;
            transition: all 0.1s;
        }
    }
}

.header-nav li:hover{
    // color: $gold;
    &::after {
        background: $white;  
        left: 0;
        bottom: 0px;
        width: 100%;  
    }
}

#side-nav-button {
    color: $white;
    // width: 100px;
    // height: 30px;
    // background: $white;
    position: absolute;
    left: 30px;
    margin: 0;
    top: 15px;
   
}

#close-menu {
    display: none;
}

.toggle-mobile-menu {
    width: 100%;
}

// MEDIA QUERIES

 @media (max-width: #{$mobile}){
    //  #english-nav, #russian-nav {
    //      display: none;
    // }
    #close-menu {
        display: block;
    }
    .header-nav {
        display: block;
        position: fixed;
        z-index: 20;
        top: 56px;
        left: 0;
        min-height: 110vh;
        background: $white;
        flex-direction: column;
        width: 0px;
        margin-left: 0;
        overflow-x:hidden;
        width: 0;
        transition: all 1s;
        padding-top: 80px;
               li {
                   text-align: center;
                   display: block;
                   margin-top: 15px;
                   color: $black;
                //    width: 60px;
                   font-size: 1.5rem;
                   position: static;
               }
    }
 }

