// ENGLISH TO RUSSIAN CLASSES AND BUTTONS

.russian {
    display: block;
}

//FOR TOGGLING CLASS
.display-none {
    display: none;
}

//TRANSLATE BUTTON
.translate {
     position: absolute;
    color: $white;
    right: 20px;
    top: -25px;
    transition: all 0.3s;
}

.translate:hover {
    color: $gold;
}

#russian-nav {
    margin-top: 12px;
}