// ENGLISH TO RUSSIAN CLASSES AND BUTTONS

.russian {
    display: block;
}

//FOR TOGGLING CLASS
.display-none {
    display: none;
}

//TRANSLATE BUTTON
.translate {
     position: absolute;
    color: $white;
    right: 20px;
    top: -22px;
    transition: all 0.1s;
}

.translate:hover {
    color: $gold;
}

#russian-nav {
    padding-top: 14px;
}