// ENGLISH TO RUSSIAN CLASSES AND BUTTONS

.russian {
    display: block;
}

#russian-nav {
    padding-top: 14px;
    min-width: 416px;
    // border: 1px solid red;

}

//FOR TOGGLING CLASS
.display-none {
    display: none;
}

//TRANSLATE BUTTON
.translate {
     position: absolute;
    color: $white;
    right: 20px;
    top: -22px;
    transition: all 0.1s;
}

.translate:hover {
    color: $gold;
}



#english-nav {
    // border: 1px solid red;
}

@media (max-width: 580px){
    #russian-nav {
        margin-left: 5px;
    }
}

 @media (max-width: #{$mobile}){
      #russian-nav {
          margin-left: 0;
          min-width: 0;
          max-width: 50%;
      }
 }