article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

html {
  font-size: 125%;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #e5e5e5;
}

h1 {
  font-size: 4rem;
  color: #f7c630;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 1px 1px #1c1c1c, 2px 2px #1c1c1c;
}

p {
  line-height: 1.6;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

section {
  padding: 80px 0px;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  border: none;
  background: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  margin-top: 40px;
  text-decoration: underline;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .wrapper {
    width: 95%;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
    text-align: center;
  }
  h3 {
    font-size: 0.9rem;
  }
  p, li {
    font-size: 0.9rem;
  }
}

.header-nav-bar {
  background: linear-gradient(180deg, #1c1c1c 53px, #e5e5e5 53px);
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 0px 4px 10px -4px rgba(65, 64, 66, 0.4);
          box-shadow: 0px 4px 10px -4px rgba(65, 64, 66, 0.4);
}

.header-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}

.header-nav li {
  display: inline-block;
  margin-left: 30px;
  text-align: center;
  color: #e5e5e5;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-nav li::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 5%;
  bottom: 0px;
  left: 45%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.header-nav li:hover::after {
  background: #e5e5e5;
  left: 0;
  bottom: 0px;
  width: 100%;
}

#side-nav-button {
  color: #e5e5e5;
  position: absolute;
  left: 30px;
  margin: 0;
  top: 15px;
}

#close-menu {
  display: none;
}

.toggle-mobile-menu {
  width: 100%;
}

@media (max-width: 500px) {
  #close-menu {
    display: block;
  }
  .header-nav {
    display: block;
    position: fixed;
    z-index: 20;
    top: 55px;
    left: 0;
    min-height: 110vh;
    background: url(../assets/old-man.jpg);
    background-position: 0% 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 0px;
    margin-left: 0;
    overflow-x: hidden;
    width: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    padding-top: 10%;
  }
  .header-nav li {
    text-align: left;
    display: block;
    margin-top: 15px;
    color: #f7c630;
    font-size: 1.5rem;
    position: static;
  }
}

header {
  min-height: 105vh;
  background: url(../assets/borsch-rect.jpg);
  background-position: 100% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.address-bar {
  position: absolute;
  top: 55px;
  text-align: center;
  width: 100%;
  background: #595959;
  height: 35px;
  padding-top: 4px;
  font-size: .8rem;
  color: #1c1c1c;
  text-transform: uppercase;
}

.scroll-down-container {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 40px;
  bottom: 0;
}

.letters-container {
  width: 540px;
  margin: 0 auto;
  height: 80px;
  position: relative;
}

.shutter {
  position: absolute;
  width: 100%;
  height: 2000px;
  bottom: -1900px;
}

.line-container {
  height: 20px;
  background: #1c1c1c;
  position: relative;
}

.line-container .black-line {
  height: 10px;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: #f7c630;
  opacity: .9;
  z-index: 10;
}

.scroll-down-bar {
  height: 50px;
  width: 2px;
  background: #e5e5e5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: top;
          transform-origin: top;
  position: absolute;
  bottom: 0;
}

.scroll-down-container:hover .scroll-down-bar {
  height: 20px;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 105vh;
  background: RGBA(0, 0, 0, 0.3);
}

.welcome-text {
  width: 100%;
  height: 200px;
  width: 900px;
  text-align: center;
  position: relative;
  z-index: 2;
}

#mobile-logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  display: none;
  border: 4px solid #f7c630;
}

#mobile-logo img {
  border-radius: 50%;
}

#parallax-logo {
  position: absolute;
  left: 20%;
  margin-left: -100px;
  bottom: -200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #f7c630;
  z-index: 1;
}

@media (max-width: 800px) {
  .header-flex {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  header {
    background: #1c1c1c;
  }
  .address-bar {
    padding-top: 6px;
  }
  .address-bar p {
    font-size: .7rem;
  }
  .header-flex {
    min-height: 80vh;
    background: RGBA(0, 0, 0, 0);
  }
  #mobile-logo {
    display: block;
  }
  .welcome-text h2 {
    display: none;
  }
  .header-flex {
    padding: 0 10px;
  }
}

#about {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(180deg, #e5e5e5 2px, #1c1c1c 2px calc(100% - 2px), #e5e5e5 calc(100% - 2px));
  color: #e5e5e5;
  padding-bottom: 40px;
}

#about h2 {
  color: #f7c630;
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-main-img {
  width: 400px;
  background: -webkit-repeating-linear-gradient(-45deg, #1c1c1c, #1c1c1c 2px, #f1f1f1 2px, #f1f1f1 4px);
  background: repeating-linear-gradient(-45deg, #1c1c1c, #1c1c1c 2px, #f1f1f1 2px, #f1f1f1 4px);
  padding: 10px;
  overflow: hidden;
}

.about-main-description {
  width: 70%;
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about-main-description::after {
  position: absolute;
  content: "";
  background: #e5e5e5;
  height: 200px;
  width: 2px;
  right: 0;
}

.about-main-description::before {
  position: absolute;
  content: "";
  background: #e5e5e5;
  height: 10px;
  width: 10px;
  right: -4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 5;
}

.logo-container {
  position: absolute;
  width: 100px;
  height: 100px;
  right: -50px;
  bottom: -470px;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
  border: 2px solid #f7c630;
}

.gallery-main-flex {
  height: 400px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-flex-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-img {
  width: 50%;
  height: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-repeat: no-repeat;
  position: relative;
}

.gallery-img img {
  max-width: 2px;
  max-height: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  clip: rect(0 0 0 0);
}

.purveyors-container {
  width: 100%;
  height: 50%;
}

.long-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.square-img {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  position: relative;
  border: 5px solid #e5e5e5;
}

.square-img img {
  max-width: 2px;
  max-height: 2px;
  bottom: 0;
  left: 50%;
  position: absolute;
  clip: rect(0 0 0 0);
}

#meat-img {
  background: url(../assets/cured-meat.jpg);
  background-size: 100% auto;
  background-position: 0% 40%;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: 5px solid #e5e5e5;
  border-top: none;
}

#meat-img:hover {
  background-size: 105% auto;
}

#fish-img {
  background: url(../assets/cured-fish-rect.png);
  background-size: auto 120%;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: 5px solid #e5e5e5;
  border-left: 5px solid #e5e5e5;
}

#fish-img:hover {
  background-size: auto 125%;
}

.gallery-img:nth-child(1) {
  background: url(../assets/khinkali-rect.png);
  background-position: 60% 10%;
  background-size: auto 130%;
  border: 5px solid #e5e5e5;
  border-right: 2.5px solid #e5e5e5;
}

.gallery-img:nth-child(2) {
  background: url(../assets/hendersonbeer.jpg);
  background-position: 80%;
  background-size: auto 125%;
  background-repeat: no-repeat;
  border: 5px solid #e5e5e5;
  border-left: 2.5px solid #e5e5e5;
  border-right: none;
}

.gallery-img:nth-child(2):hover {
  background-size: auto 130%;
}

.gallery-img:nth-child(1):hover {
  background-size: auto 135%;
}

.long-img {
  background: url(../assets/raw-meat.jpg);
  background-size: auto 100%;
  background-position: 60% 0%;
  height: 100%;
  width: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  border: 5px solid #e5e5e5;
  border-left: none;
}

.long-img img {
  max-width: 2px;
  max-height: 2px;
  bottom: 0;
  left: 50%;
  position: absolute;
}

.long-img:hover {
  background-size: auto 105%;
}

.social {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.purveyors {
  padding-top: 30px;
  height: 100%;
  text-align: center;
}

.purveyors h2 {
  font-style: italic;
  position: relative;
}

.purveyors h2:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: gold;
  bottom: -15px;
  left: calc(50% - 5px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
}

.purveyors h2::after {
  position: absolute;
  content: "";
  background: #f7c630;
  width: 200px;
  height: 2px;
  bottom: -11px;
  left: calc(50% - 100px);
}

.purveyors-list {
  margin-top: 30px;
}

@media (max-width: 1000px) {
  #meat-img, #fish-img, .gallery-img:nth-child(1), .gallery-img:nth-child(2), .long-img {
    background-size: cover;
  }
  #meat-img:hover, #fish-img:hover, .long-img:hover, .gallery-img:nth-child(1):hover, .gallery-img:nth-child(2):hover {
    background-size: cover;
  }
}

@media (max-width: 800px) {
  .about-main-description {
    border-right: 0;
    padding: 0px 0px 0px 20px;
  }
  .about-main-img {
    width: 300px;
  }
  .about-main-description::before, .about-main-description::after {
    display: none;
  }
  .gallery-main-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
    width: 100%;
  }
  .gallery-img {
    height: 200px;
    width: 50%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
  }
  .long-container {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #meat-img, #fish-img {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
  }
  .logo-container {
    display: none;
    right: 10%;
  }
  .gallery-flex-item {
    width: 100%;
  }
  #fish-img {
    border-left: 5px solid #e5e5e5;
  }
  .gallery-img:nth-child(1), .gallery-img:nth-child(2) {
    border-top: none;
  }
  .gallery-img:nth-child(1) {
    border-right: 5px solid #e5e5e5;
  }
  .gallery-img:nth-child(2) {
    border-left: none;
    border-right: 5px solid #e5e5e5;
  }
}

@media (max-width: 600px) {
  .about-main-img {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .about-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-main-img {
    width: 100%;
    margin: 0 auto;
  }
  .about-main-description {
    width: 100%;
    padding: 20px 0px 0px;
    margin: 20px 0;
    width: 100%;
    position: relative;
  }
  .logo-container {
    display: none;
  }
  .gallery-img:nth-child(1), .gallery-img:nth-child(2), #meat-img, #fish-img {
    height: 180px;
  }
  #meat-img, #fish-img {
    height: 180px;
  }
  .long-img {
    height: 360px;
  }
}

@media (max-width: 375px) {
  #about {
    background: linear-gradient(180deg, #1c1c1c calc(100% - 2px), #e5e5e5 calc(100% - 2px));
  }
  .about-main-description {
    padding: 20px 12px 0px;
  }
  .gallery-img {
    height: 150px;
    width: 50%;
    margin: 0;
    padding: 0;
  }
  #meat-img, #fish-img {
    height: 150px;
  }
  .long-img {
    height: 300px;
  }
}

#menu {
  min-height: 100vh;
  background: url(../assets/ossington-bar-black-white.jpg);
  background-position: 10%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.menu {
  width: 700px;
  height: 750px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.menu h2 {
  color: #1c1c1c;
  text-decoration: underline;
  text-transform: uppercase;
}

.menu h3 {
  color: #1c1c1c;
}

.menu p, .menu li {
  font-style: italic;
}

.menu-slide {
  padding: 40px;
  height: 100%;
  background: RGBA(229, 229, 229, 0.9);
  position: absolute;
  top: 0;
  left: 0;
}

.food-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.food-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

#food .food-item {
  margin-top: 20px;
  height: 30%;
}

#food .food-item:nth-child(1),
#food .food-item:nth-child(2),
#food .food-item:nth-child(3),
#drinks .food-item:nth-child(1),
#drinks .food-item:nth-child(2),
#drinks .food-item:nth-child(3) {
  margin-right: 5px;
}

#food .food-item:nth-child(3), #food .food-item:nth-child(6) {
  height: 40%;
}

#drinks .food-item, #russian-drinks .food-item {
  margin-top: 20px;
}

#drinks {
  display: none;
  width: 100%;
}

#drinks .food-flex, #food .food-flex {
  margin-bottom: 20px;
}

#russian-food .food-item {
  height: 30%;
  margin-top: 20px;
}

#russian-drinks {
  width: 100%;
}

@media (max-width: 800px) {
  .menu {
    width: 100%;
    height: 880px;
  }
  .menu-slide {
    padding: 40px 10px;
  }
  .food-column {
    padding: 40px 10px;
  }
  .food-column p {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .menu {
    height: 900px;
  }
  .menu-slide {
    padding: 40px 0 0 0;
    background: RGBA(229, 229, 229, 1);
  }
}

@media (max-width: 375px) {
  .menu {
    min-height: 950px;
  }
}

#contact {
  background: #1c1c1c;
  background: linear-gradient(180deg, #e5e5e5 2px, #1c1c1c 2px);
}

#contact h2 {
  color: #f7c630;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-flex p {
  color: #e5e5e5;
}

.hours {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.day {
  margin-right: 40px;
}

.day-and-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-title {
  width: 100%;
}

.contact {
  width: 30%;
}

.fab {
  font-size: 1.5rem;
  color: #e5e5e5;
  margin-top: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fab:hover {
  color: #f7c630;
}

.fab:nth-child(1) {
  margin-right: 5px;
}

.map-container {
  width: 40%;
  background: repeating-linear-gradient(-45deg, #1c1c1c, #1c1c1c 2px, #f1f1f1 2px, #f1f1f1 4px);
  padding: 10px;
}

iframe {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 100%;
}

@media (max-width: 1250px) {
  .contact-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hours, .contact {
    width: 50%;
  }
  .map-container {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hours, .contact, .map-container {
    width: 100%;
  }
  .contact {
    text-align: center;
  }
  .hours, .map-container {
    margin-top: 40px;
  }
  .hours h2, .map-container h2 {
    text-align: center;
  }
  .day-and-time {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) {
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hours, .contact, .map-container {
    width: 100%;
  }
  .contact {
    text-align: center;
  }
  .hours, .map-container {
    margin-top: 40px;
  }
  .day-and-time {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  height: 40px;
  background: linear-gradient(180deg, #e5e5e5 2px, #1c1c1c 2px);
  color: #e5e5e5;
  text-align: center;
  padding-top: 4px;
}

.russian {
  display: block;
}

.display-none {
  display: none;
}

.translate {
  position: absolute;
  color: #e5e5e5;
  right: 20px;
  top: -25px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.translate:hover {
  color: #f7c630;
}

#russian-nav {
  padding-top: 12px;
}
/*# sourceMappingURL=style.css.map */